*{
    color: black;
    text-transform: capitalize;
}
.navbar{
    background-color: rgb(243, 240, 240);
}
.navbar-brand h1{
    color: black;
    font-weight: 500;
    text-shadow: rgb(182, 163, 163) 1px 2px 4px;
}
li{
    font-size:23px;
}
.navbar-nav li:hover{
        font-size: 30px;
        color: red;
        text-shadow: rgb(168, 166, 166) 1px 2px 4px;
}
#home h1{
    color: black;
     font-size: 60px;
}
#home p{
    font-size: 40px;
}
#latest-collection{
    background-color: teal;
}
.lc{
    padding-bottom: 4px;
    font-size: 50px;
    color: thistle;padding: 3px;
}
#trending h2{
    overflow-x: hidden;
    color: black;
}
#trending{
    overflow-x: hidden;
}
#latest-collection p,h2
{
    color: white;
}

@media screen and (max-width:786px)
{
    .container{
        overflow-x:hidden;
    }
}